
.bigCounter{
text-align: center;
background: black;
}


.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: black;
    padding: 10px;
    color: white;
    margin: 3px;
}
